<form class="city-form" (ngSubmit)="saveCity()" #cityForm="ngForm">
    <label>Страна: 
        <input [(ngModel)]="cityData.country" name="country">
    </label><br>
    <label>Область/Регион: 
        <input [(ngModel)]="cityData.region" name="region">
    </label><br>
    <label>Город: 
        <input [(ngModel)]="cityData.cityName" name="cityName">
    </label><br>
    <label>Население:
        <input type="number" [(ngModel)]="cityData.population" name="population">
    </label><br>
    <label>Код города: 
        <input type="number" [(ngModel)]="cityData.cityCode" name="cityCode">
    </label><br>
    <label>Номер региона: 
        <input type="number" [(ngModel)]="cityData.regionNumber" name="regionNumber">
    </label><br>
    <label>Основан:
        <input type="number" [(ngModel)]="cityData.founded" name="founded">
    </label><br>
    <button type="submit">Сохранить</button>
</form>

<div class="formatted-cityString">
    <h2>Дополнительная информация города:</h2>
    <p>{{ cityCardData }}</p>
</div>
