.city-bar {
    background: #ffb6b9;
    padding: 10px;
    text-align: center;
}

.city-bar button {
    margin: 0 10px;
    padding: 8px 12px;
    background: #fae3d9;
    border: none;
    cursor: pointer;
}
.city-bar button:hover {
    background: #ffb6b9;
}